# ---------------- CORE NUMPY STACK (MUST BE PINNED) ----------------
numpy==1.26.4
pandas==2.2.2
scipy==1.11.4

# ---------------- ML STACK ----------------
scikit-learn==1.4.2
xgboost==2.1.1
joblib==1.3.2

# ---------------- MLOPS ----------------
mlflow==2.10.2
dill

# ---------------- API ----------------
fastapi==0.110.0
uvicorn==0.27.1
httpx==0.25.2

# ---------------- AIRFLOW SAFE UTILS ----------------
requests==2.31.0
pyyaml==6.0.1
